<div class="container">
    <h1 class="text-center">{{usersService.meta.title}}</h1>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Filter</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngFor="let attr of usersService.getColumns()">
                <ng-container *ngIf="usersService.meta.filter.includes(attr)">
                    <mat-form-field *ngIf="usersService.getType(attr) !== 'select'" class="fields" appearance="outline">
                        <mat-label> {{usersService.meta.attributes[attr].label}} </mat-label>
                        <input matInput matFormFieldControl [type]="usersService.getType(attr)"
                               [(ngModel)]="usersService.filter[attr]">
                        <button *ngIf="usersService.filter[attr]" matSuffix mat-icon-button aria-label="Clear"
                                (click)="usersService.filter[attr]=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field *ngIf="usersService.getType(attr) === 'select'" class="fields" appearance="outline">
                        <mat-label> {{usersService.meta.attributes[attr].label}} </mat-label>
                        <mat-select matFormFieldControl [(ngModel)]="usersService.filter[attr]">
                            <mat-option *ngFor="let option of usersService.meta.attributes[attr].options"
                                        [value]="option">{{option}}</mat-option>
                        </mat-select>
                        <button *ngIf="usersService.filter[attr]" matSuffix mat-icon-button aria-label="Clear"
                                (click)="usersService.filter[attr]=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </ng-container>
            </ng-container>
            <button mat-raised-button color="primary" class="fields" (click)="usersService.load()">filter</button>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Columns</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <button *ngFor="let attr of usersService.getColumns()" mat-raised-button [color]="usersService.attributes.indexOf(attr) === -1 ? 'silver' : 'primary'" class="fields"
                    (click)="usersService.toggleAttribute(attr)">
                {{usersService.meta.attributes[attr].label}}
            </button>
        </mat-card-content>
    </mat-card>
    <br>
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="usersService.dataSource" matSort
               (matSortChange)="usersService.changeSort($event)" class="mat-elevation-z8">
            <ng-container [matColumnDef]="attr" *ngFor="let attr of usersService.attributes">
                <th mat-header-cell *matHeaderCellDef
                    [width]="usersService.meta.attributes[attr].width + '%'"
                    mat-sort-header
                    [disabled]="!usersService.meta.sort.includes(attr)"> {{usersService.meta.attributes[attr].label}} </th>
                <td mat-cell *matCellDef="let element"> {{element[attr]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="usersService.attributes"></tr>
            <tr mat-row *matRowDef="let row; columns: usersService.attributes;"></tr>
            <tr mat-footer-row>
            </tr>
        </table>
        <div *ngIf="usersService.meta.pagination">
            <mat-paginator [length]="usersService.meta.pagination.totalCount"
                           [pageSize]="usersService.meta.pagination.perPage"
                           [pageIndex]="usersService.page - 1"
                           [pageSizeOptions]="[5, 10, 20, 50]"
                           (page)="usersService.changePage($event)"
                           showFirstLastButtons
            >
            </mat-paginator>
        </div>
    </div>
    <br>
</div>
